.card {
  max-width: 350px;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__item {
    padding: 10px;
  }

  &__pla {
    font-size: 22px;
  }

  &__price {
    font-weight: 600px;
    font-size: 40px;
  }

  &--orange{
    background-color: #fd7557;
  }

  &--purple{
    background-color: #ede1ff;
  }
}
